<div class='swagger-ui'>
    <div class="wrapper">
        <section class="clear">
            {{flasgger_config.top_text | safe}}
        </section>
    </div>
</div>

<div style="background-image: url(static/head.jpg); background-repeat: no-repeat; background-position: center; background-size: cover; height: 300px;">
    <div style="background-color: #fafafa; left: 0; top: 0; width: 265px; height: 125px;">
        <img src="/static/logo_trans.png" alt="Logo" style="left: 0; top: 0; width: 265px; height: 125px;">
    </div>
    <div style="display: block; max-width: 300px; padding: 10px 0 0 0px; margin: 0 auto; font-size: 100%; vertical-align: baseline;">
        <h1 style="color: #fafafa; font-family: ff-meta-web-pro, sans-serif;">
            REST API
            <span style="font-size: 90px; line-height: 50px;">template</span>
        </h1>
    </div>
</div>
